<!-- START modal -->
<% data.workModal.each do |work| %>
    <div class="remodal" id="<%= work.id %>" data-remodal-id="<%= work.id %>-modal" role="dialog" aria-labelledby="<%= work.id %>-heading" aria-describedby="<%= work.id %>-details">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="container-modal">
            <h2 id="<%= work.id %>-heading"><%= work.title %></h2>
            <div id="<%= work.id %>-details">
                <%= markdown work.text %>
                <img src="<%= image_path work.imgsrc %>" alt="<%= work.alt %>" />
            </div>
        </div>
    </div>
<% end %>
<!-- END modal -->